<style>
  .bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
  }

  .bs-docs-footer a {
    color: #fff;
  }

  a {
    color: #337ab7;
    text-decoration: none;
  }

  a {
    background-color: transparent;
  }

  .bs-docs-footer-links li {
    display: inline-block;
  }

  .bs-docs-footer-links li+li {
    margin-left: 15px;
  }

  .bs-docs-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: #99979c;
    text-align: left;
    background-color: #2a2730;
  }
</style>

<footer class="bs-docs-footer">
  <div class="container">
    <ul class="bs-docs-footer-links">
      <li>
        <a href="/">c#-API</a>
      </li>
      <li>
        <a href="http://www.bootcss.com/">bootstrap</a>
      </li>
      <li>
        <a href="http://www.youzhan.org">优站精选</a>
      </li>
      <li>
        <a href="http://10.86.0.18">关于</a>
      </li>
    </ul>

    <p>Designed and built with all the love in the world by
      <a href="https://github.com/Garyhjj" target="_blank">@gary.h</a>. Maintained by the
      <a href="#">MSL MIS team</a>
    <!-- <p>本项目源码受
      <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>开源协议保护，文档受
      <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a> 开源协议保护。</p> -->
  </div>
</footer>
<script type="text/javascript">
    // 点击按钮弹出下拉框
</script>
</body>

</html>