<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>middleAPI</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <style>
      .margin {
        margin-top: 30px;
      }
    </style>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Brand</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
            <li class=<%= home?'active':'' %> ><a href="/nodeAPI">Home</a></li>
            <li class=<%= !home?'active':'' %> ><a href="/nodeAPI/lists">API</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>