<%- include('header') %>

    <div class="container">
        <div class="jumbotron">
            <h1>Node server!</h1>
            <p>这是一个node中间层服务,也可以叫信息的中途岛，前端可以在这对数据再进行加工。进一步的前后端分离！</p>
            <p><a class="btn btn-primary btn-lg" href="http://blog.csdn.net/u011413061/article/details/50294263" role="button">Learn more</a></p>
        </div>
    </div>


<%- include('footer') %>